form {
    border-radius: 10%;
    min-width: 80%;
    background-color: aliceblue;
    padding: 25px 25px;
    justify-content: right;
    margin-left: 45%;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #e6e5e5;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    position: absolute;
    z-index: 1;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.header-content .container.grid-2 {
    grid-template-columns: 2.5fr 3.5fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    text-align: left;
    margin-left: 25%;
}

.header-title {
    font-size: 3.8rem;
    line-height: 0.8;
    color: var(--dark-one);
}

.header-content .text {
    margin: 2.15rem 0;
}

.submitBtn {
    background-color: lightblue;
    border-radius: 2rem;
    border: white;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
}
.submitBtn:hover {
    background-color: rgb(140, 205, 226);
}

p {
    text-align: center;
}


