.navbar {
    margin: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}
ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: lightgray;  
  }  
    
  li {  
    float: right;
  }  
    
  li a {  
    display: block;  
    color: blue;  
   font-size:20px;  
    text-align: center;  
    padding: 10px 20px;  
    text-decoration: none;
    cursor: pointer;    
  }  
  .active{  
  background-color: gray;  
  color: white;  
  }  
  li a:hover {  
    background-color: blue;  
    color: white;  
  } 
  
.logo img {
  width: 82px;
  margin-top: 6px;
}